input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, box-shadow 0.3s;
  font-family: 'Montserrat', sans-serif;

  &:focus {
    border-color: #051E3A;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.25);
    outline: none;
  }
}

.missing-data {
  color: #d32f2f; /* Red color for text */
  font-weight: bold;
}

.missing-data-input {
  border: 1px solid #d32f2f; /* Red border for input */
  font-weight: bold;
  color: #d32f2f;
}
