mat-toolbar {
    display: flex;
    justify-content: space-between;
    background-color: #051E3A;
    color: white;
    width: 100%;
  }
  
  .spacer {
    flex: 1 1 auto;
  }

  .save-button {
    background-color: white !important;
    color: #051E3A !important;

    &:hover {
      background-color: #FFCC00 !important;
      color: black !important;
    }

    &:disabled {
      background-color: #cccccc !important;
      color: #666666 !important;
      cursor: not-allowed !important;
    }
  }

  .help-button {
    color: #ffffff !important;
  }
  