<div class="upload-container" cdkDropList (cdkDropListDropped)="onDrop($event)" (click)="onFileInputClick()">
  <img src="assets/icons/folder.png" alt="Upload Icon" class="upload-icon">
  <p style="color: grey; font-size: larger;">Drag & drop your files here</p>
  <p style="color: grey; font-size: smaller;">or click to select from your device</p>
  <input
    #fileInput
    type="file"
    multiple
    hidden
    (change)="onFileSelect($event)"
  />
</div>

<div class="uploaded-files" *ngIf="files.length">
  <h3>Uploaded Files</h3>
  <mat-list>
    <mat-list-item *ngFor="let file of files; let i = index" class="file-item">
      <span class="file-name">{{ file.name }}</span>
      <button mat-icon-button class="remove-button" (click)="removeFile(i)">
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
</div>

