<app-toolbar></app-toolbar>

<div class="home-container" [ngClass]="{ 'two-columns': files.length > 0 }">
  <div class="column">
    <!-- Upload Section -->
    <mat-card class="grid-card" [ngClass]="{'has-files': hasFiles}">
      <h2>Upload your files</h2>
      <h3 *ngIf="!hasFiles">Ready to create your movie title? Upload a file to get started.</h3>
      <app-upload (fileSelect)="onFileSelect($event)" [hasFiles]="hasFiles"></app-upload>
    </mat-card>

    <!-- Data Display Section -->
    <mat-card class="grid-card" [ngClass]="{'has-files': hasFiles}" *ngIf="files.length > 0">
      <app-data-display
        [tableData]="movieData.credits"
        [tableColumns]="['role', 'name', 'edit']"
        (dataChange)="updateCredits($event)"
      ></app-data-display>
    </mat-card>
  </div>

  <div class="column" *ngIf="files.length > 0">
    <!-- Artwork Pane Section -->
    <mat-card class="grid-card" [ngClass]="{'has-files': hasFiles}">
      <app-artwork-pane
        [movieTitle]="movieData.title"
        [credits]="movieData.credits"
        [genre]="movieData.genre"
      ></app-artwork-pane>
    </mat-card>
  </div>
</div>
