<app-toolbar></app-toolbar>

<div class="home-container" [ngClass]="{ 'two-columns': files.length > 0 }">
  <div class="column">
    <!-- Upload Section -->
    <mat-card class="upload-card">
      <app-upload (fileSelect)="onFileSelect($event)"></app-upload>
    </mat-card>

    <!-- Data Display Section -->
    <mat-card class="upload-card" *ngIf="files.length > 0">
      <app-data-display
        [tableData]="movieData.credits"
        [tableColumns]="['role', 'name', 'edit']"
      ></app-data-display>
    </mat-card>
  </div>

  <div class="column" *ngIf="files.length > 0">
    <!-- Artwork Pane Section -->
    <mat-card class="upload-card">
      <app-artwork-pane
        [movieTitle]="movieData.title"
        [credits]="movieData.credits"
        [genre]="movieData.genre"
      ></app-artwork-pane>
    </mat-card>
  </div>
</div>
